*{
  margin: 0;
  padding: 0;
}

.gradient-background  {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}
#testimonial{
  display: grid;
  height: 60%;
  grid-template-columns: repeat(4,22%);
  grid-template-rows: auto auto auto 80px;
  justify-content: center;
  background-color: rgb(128 128 128 / 6%);
  gap: 40px;

}
#testimonial >h2{
     grid-column: span 4;
     text-align: center;
     padding-top: 70px;
}
.dog{
grid-column: span 4;
 margin-left: 47%;
 border-radius: 50%;
}
p.add{
   grid-column: span 4;
   text-align: center;
   font-size: large;
}
.img{
  display: flex;
  padding-left: 20px;
  height: 30px;
}
